.outer-table {
    width: 100%;
    font-size: 14px;
}

.outer-table strong {
    font-size: 16px;
}


.small-text {
    font-size: 12px;
}

.text-grey {
    color: grey;
}

.time-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
  }