<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div *ngIf="isPersona"
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">DETALLE <b>{{persona?.nombre}}</b> -
                        {{persona?.registros?.length}} registros</h6>
                    <button class="btn btn-primary" [routerLink]="['/personas']">Volver al listado</button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex align-items-center">
                                <button class="btn btn-link" (click)="toggleContent()">
                                    <b>{{ showContent ? 'Ocultar registros' : 'Ver registros' }}</b>
                                </button>
                            </div>
                            <hr>
                            <div *ngIf="showContent">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr class="table-header">
                                                <th class="small-text">Fecha</th>
                                                <th class="small-text">Sitio</th>
                                                <th class="small-text">Tardanzas</th>
                                                <th class="small-text">TMO's</th>
                                                <th class="small-text">Descansos</th>
                                                <th class="small-text">Productividad</th>
                                                <th class="small-text">Faltas</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let registro of persona?.registros || []">
                                                <td class="small-text">{{ registro.Fecha | transformExcelDate |
                                                    customDate }}</td>
                                                <td class="small-text">{{ registro.SITE }}</td>
                                                <td class="small-text">{{ registro.TARDANZAS }}</td>
                                                <td class="small-text">{{ registro.TMO }}</td>
                                                <td class="small-text">{{ registro.BREAK }}</td>
                                                <td class="small-text">{{ registro.PRODUCTIVIDAD }}</td>
                                                <td class="small-text">{{ registro.FALTA }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>