<div *ngIf="isPersona" class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DETALLE EMPLEADO</h6>
</div>
<div class="card-body">
    <div class="text-center">
       <p><b>{{persona.nombre}}</b> - {{persona.registros.length}} registros</p>
    </div>
    <div #container class="row">
        <div  class="col-lg-4 p-2 center-container">
            <circle-progress
                subtitle="Desvios"
                [percent]= "persona.porDesvios"
                [innerStrokeColor]=(getColorFromPercentage(persona.porDesvios))
                [outerStrokeColor]=(getColorForInnerCircle(persona.porDesvios))
                [radius]="radius"
                ></circle-progress>
        </div>
        <div class="col-lg-4 p-2 center-container">
            <circle-progress
                subtitle="Faltas"
                [percent]= "persona.porFaltas"
                [innerStrokeColor]=(getColorFromPercentage(persona.porFaltas))
                [outerStrokeColor]=(getColorForInnerCircle(persona.porFaltas))
                [radius]="radius"
            ></circle-progress>
        </div>
        <div class="col-lg-4 p-2 center-container">
            <circle-progress
                subtitle="TMO's"
                [percent]= "persona.porTMO"
                [innerStrokeColor]=(getColorFromPercentage(persona.porTMO))
                [outerStrokeColor]=(getColorForInnerCircle(persona.porTMO))
                [radius]="radius"
            ></circle-progress>
        </div>
    </div>
    <hr>
    <div #container class="row">
        <div  class="col-lg-4 p-2 center-container">
            <circle-progress
                subtitle="Descansos"
                [percent]= "persona.porDescansos"
                [innerStrokeColor]=(getColorFromPercentage(persona.porDescansos))
                [outerStrokeColor]=(getColorForInnerCircle(persona.porDescansos))
                [radius]="radius"
                ></circle-progress>
        </div>
        <div class="col-lg-4 p-2 center-container">
            <circle-progress
                subtitle="Improductividad"
                [percent]= "persona.porImproductivos"
                [innerStrokeColor]=(getColorFromPercentage(persona.porImproductivos))
                [outerStrokeColor]=(getColorForInnerCircle(persona.porImproductivos))
                [radius]="radius"
            ></circle-progress>
        </div>
        <div class="col-lg-4 p-2 center-container">
            <circle-progress
                subtitle="Tardanzas"
                [percent]= "persona.porTardanza"
                [innerStrokeColor]=(getColorFromPercentage(persona.porTardanza))
                [outerStrokeColor]=(getColorForInnerCircle(persona.porTardanza))
                [radius]="radius"
            ></circle-progress>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <div class="d-flex align-items-center">
            <button class="btn btn-link" (click)="toggleContent()">
              <i class="fas" [ngClass]="{'fa-minus': showContent, 'fa-plus': !showContent}"></i>
            </button>
            <p class="mb-0"><b>REGISTROS</b></p>
          </div>
          <hr>
          <div *ngIf="showContent">
            <p *ngFor="let registro of persona.registros">
              <b>{{registro.Fecha | transformExcelDate | customDate}}</b> - {{registro.SITE}}
              <br>
              <small>Tard: {{registro.TARDANZAS}} - </small>
              <small>TMO's: {{registro.TMO}} - </small>
              <small>Desc: {{registro.BREAK}} - </small>
              <small>Prod: {{registro.PRODUCTIVIDAD}} - </small>
              <small>Faltas: {{registro.FALTA}}</small>
            </p>
          </div>
        </div>
      </div>
         
</div>
